* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
  }
  
  body {
    background-color: black;
  }
  
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  .card {
    border: solid 1px orange;
    width: 35%;
    margin: auto;
    margin-top: 100px;
    background-color: orange;
  
  }
  
  .form-control {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid;
    background-color: transparent;
  }
  
  button {
    width: 100%;
    background-color: black;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .card-header {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .card-body{
    padding: 10px;
  }
  
  
  label{
    font-size: small;
  }

  .message{
    background-color: white;
    border-radius: 5px;
    padding: 7px;
  }

  .message-text{
    color: red;
    font-weight: 400;
  }
  
  
  @media screen and (max-width:600px) {
    .card{
      width: 100%;
      
      
    }
  
    .container {
      padding-left: 18px;
      padding-right: 18px;
    }
  }