{% extends 'dbase.html' %} {% load static %} {% block header %}
<title>Dashboard</title>
<style>
  .top-header h2 {
    font-weight: 500;
    margin-bottom: 6px;
  }

  .top-text {
    color: gray;
    margin-bottom: 30px;
  }

  .card {
    border: 1px solid red;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    gap: 100px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .card-title h2 {
    font-weight: 500;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .card-btn button {
    background-color: red;
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    margin-bottom: 20px;
  }

  .card-disable {
    opacity: 0.6;
    border: 1px gray solid;
  }

  @media screen and (max-width: 600px) {
    .card {
      gap: 10px;
    }
  }
</style>
{% endblock header %} {% block content %}
<main class="container">
  <div class="top">
    <div class="top-header">
      <h2>Hello {{user.last_name}}, what would you like to do?</h2>
    </div>
    <div class="top-text">Select any of the options to proceed</div>
  </div>
  <div class="card" id="cardOne">
    <div class="card-icon">
      <span class="bi bi-yelp" style="font-size: 30px"></span>
    </div>
    <div class="card-body">
      <div class="card-title">
        <h2>Create a Soil Test</h2>
      </div>
      <div class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint iste quos
        officiis dolor labore voluptates. Nam, delectus, doloremque est eum
        corrupti non, dolore mollitia tempora dolorem cupiditate debitis
        officiis optio.
      </div>
      <div class="card-btn">
        <button>Get Started</button>
      </div>
    </div>
  </div>
  <div class="card" id="cardTwo">
    <div class="card-icon">
      <span class="bi bi-person-raised-hand" style="font-size: 30px"></span>
    </div>
    <div class="card-body">
      <div class="card-title">
        <h2>All Soil Tests</h2>
      </div>
      <div class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint iste quos
        officiis dolor labore voluptates. Nam, delectus, doloremque est eum
        corrupti non, dolore mollitia tempora dolorem cupiditate debitis
        officiis optio.
      </div>
      <div class="card-btn">
        <button>All Soil Tests</button>
      </div>
    </div>
  </div>
</main>
<script>
  let cardOne = document.getElementById("cardOne");
  let cardTwo = document.getElementById("cardTwo");

  cardTwo.classList.add("card-disable");

  cardOne.addEventListener("click", () => {
    cardOne.classList.remove("card-disable");
    cardTwo.classList.add("card-disable");
  });

  cardTwo.addEventListener("click", () => {
    cardOne.classList.add("card-disable");
    cardTwo.classList.remove("card-disable");
  });
</script>
{% endblock content %}
