{% extends 'base.html' %} {% load static %} {% block title %}
<title>Create an account - Soil Tester</title>
<style>
  .login{
    padding-top: 50px;
    padding-bottom: 40px;

}

.card{
    width: 40%;
    margin: auto
}

.card-header{
    margin-bottom: 7px;
}
.card-body{
    margin-bottom: 7px;
}

form{
    display: flex;
    gap: 5px;   
}

.input{
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-control{
    padding: 20px;
    outline: none;
    width: 300px;
    border: none;
    background-color: ghostwhite;
}

.button button{
    height: 115px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-footer{
    display: flex;
    gap: 95px;
}

.card-footerOne{
    font-size: small;
    margin-top: 10px;
}

.card-footerTwo{
    font-size: 10px;
    padding: 8px;
    background-color: rgb(197, 191, 191);
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.card-link{
    color: black;
}

@media screen and (max-width:600px) {
    .card{
        width: 100%;
        margin: 0;
    }

    .form-control{
        width: 290px;
    }

  
}
</style>
{% endblock title %} {% block content %}
<section class="login container">
  <div class="card">
    <div class="card-header">
      <h3>Register</h3>
    </div>
    <div class="card-body">
      <div class="form">
        <form action="" method="post">
          {% csrf_token %}
          <div class="inputs">
            <div class="input">
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="form-control"
              />
            </div>
            <div class="input">
              <input
                name="password"
                type="password"
                placeholder="Password"
                class="form-control"
              />
            </div>
          </div>
          <div class="button">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footerOne">
        <a href="" class="card-link">Forgot your password?</a>
      </div>
      <div class="card-footerTwo">
        <a href="" class="card-link">Don't have an account?</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
