{% extends 'base.html' %} {% load static %} {% block title %}
<title>Reset your password - Soil Tester</title>
<style>
  .login{
    padding-top: 85px;
    padding-bottom: 85px;

}

.card{
    width: 40%;
    margin: auto
}

.card-header{
    margin-bottom: 7px;
}
.card-body{
    margin-bottom: 7px;
}

form{
    display: block;
     
}

.input{
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-control{
    padding: 20px;
    outline: none;
    width: 500px;
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 5px;
}

.button button{
    padding: 15px;
    outline: none;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    margin-top: 5px;
}



@media screen and (max-width:600px) {
    .card{
        width: 100%;
        margin: 0;
    }

    .form-control{
        width: 100%;
    }

    .button button{
      width: 100%;
    }

  
}
</style>
{% endblock title %} {% block content %}
<section class="login container">
  <div class="card">
    <div class="card-header">
      <h3>Reset Password</h3>
    </div>
    <div class="card-body">
      <div class="form">
        <form action="" method="post">
          {% csrf_token %}
          <div class="inputs">
            <div class="input">
              <input
                type="email"
                name="email"
                placeholder="Email"
                class="form-control"
                required
              />
            </div>
         
          </div>
          <div class="button">
            <button type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
